<% layout('layouts/boilerplate.ejs') %>



    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="post" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Name:</label>
                    <input class="form-control" type="text" id="title" value="<%= campground.title %>"
                        name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" value="<%= campground.location %>" id="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <div class="input-group ">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" value="<%= campground.price %>" aria-label="price"
                            aria-describedby="basic-addon1" id="price" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good !
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Add Images:</label>
                    <input class="form-control" type="file" id="img" name="img" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.imgs.forEach((img,i)=> {%>
                        <div><img class="img-thumbnail" src="<%= img.thumbnail %>" alt=""></div>
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImgs[]" value="<%= img.filename %>" id="img<%= i %>">
                        </div>
                        <label for="img<%= i %>">Delete Item</label>
                        <% }); %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>