<% layout('layouts/boilerplate.ejs') %>

    <h1>All camps</h1>
    <h2><a href="/campgrounds/new">Add New</a></h2>
    <ul>
        <% for(let campground of campgrounds) {%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%= campground.img %>" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= campground.title %>
                            </h5>
                            <p class="card-text">
                                <%= campground.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= campground.location %>
                                </small>
                            </p>
                            <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">
                                <%= campground.title %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>