<% layout('layouts/boilerplate.ejs') %>

    <div class="row mb-3">
        <div class="col-6 ">
            <div class="card">
                <img src="<%= campground.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        Submitted By: <%= campground.author.username %>
                    </li>
                    <li class="list-group-item">
                        <%= campground.price %>/night
                    </li>
                </ul>
                <% if(currentUser && campground.author.equals(currentUser._id)){ %>
                    <div class="card-body">
                        <a class="btn btn-info" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground.id  %>?_method=DELETE" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-6">
            <h2 class="mt-3">Leave a review</h2>
            <form action="/campgrounds/<%= campground.id %>/reviews" method="post" class="mb-3 validated-form"
                novalidate>
                <div class="">
                    <label class="form-label" for="rating">Rating:</label>
                    <input class="form-range" type="range" name="review[rating]" id="rating" min="1" max="5">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Comment:</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <h2 class="mt-3">Reviews:</h2>
            <% for(let review of campground.reviews){ %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rating: <%= review.rating %>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%= review.author.username %>
                        </h6>
                        <p class="card-text">
                            <%= review.body %>
                        </p>
                        <p class=""></p>
                        <% if(currentUser && review.author.equals(currentUser._id)){ %>
                            <form action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE"
                                method="post">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>